.title {
    text-align: center;
}

.employee-form {
    width: 500px;
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.form-buttons {
    margin-top: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}